*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg{
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
  padding-top: 5rem;

}

.btn{
  font-size: 15px;
  font-weight: 600;
  border-radius: 7px;
  width:65px;
  height: 35px;
  padding: 5px;
  margin: 5px;
}
